#
# This is free software, lisence use MIT.
# 
# Copyright (C) 2019 P3TERX <https://p3terx.com>
# Copyright (C) 2019 KFERMercer <KFER.Mercer@gmail.com>
# 
# <https://github.com/KFERMercer/OpenWrt-CI>
# 

name: OpenWrt-1907 x86_64 images

on:
  # schedule:
  #   - cron: 30 1 * * 3,6
  push:
    branches: 
      - dev-19.07

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Initialization environment
        env:
          DEBIAN_FRONTEND: noninteractive
        run: |
          docker rmi `docker images -q`
          echo "Deleting files, please wait ..."
          sudo rm -rf \
            /usr/share/dotnet \
            /etc/mysql \
            /etc/php
          sudo -E apt-get -y purge \
            azure-cli \
            ghc* \
            zulu* \
            hhvm \
            llvm* \
            firefox \
            google* \
            dotnet* \
            powershell \
            openjdk* \
            mysql* \
            php*
          sudo -E apt-get update
          sudo -E apt-get -y install tree build-essential asciidoc binutils bzip2 gawk gettext git libncurses5-dev libz-dev patch unzip zlib1g-dev lib32gcc1 libc6-dev-i386 subversion flex uglifyjs git-core gcc-multilib p7zip p7zip-full msmtp libssl-dev texinfo libglib2.0-dev xmlto qemu-utils upx libelf-dev autoconf automake libtool autopoint device-tree-compiler
          sudo -E apt-get -y autoremove --purge
          sudo -E apt-get clean
          
      - name: Update feeds
        run: |
          rm -f feeds.conf.default
          mv feeds.conf.default.my feeds.conf.default
          ./scripts/feeds clean
          ./scripts/feeds update -a
          ./scripts/feeds install -a
          
      - name: Costom configure file
        run: |
          rm -f .config*
          mv config.my .config
          sed -i 's/^[ \t]*//g' .config
          make defconfig
          
      - name: Make download
        run: |
          make download -j8
          find dl -size -1024c -exec rm -f {} \;
          
      - name: Compile firmware
        run: DEBIAN_FRONTEND=noninteractive make -j$(nproc) || make -j1 V=s

      - name: Prepare artifact
        run: |
          find ./bin/targets/ -type d -name "packages" | xargs rm -rf {}
          tree -F ./bin/targets/ > tree.txt
      
      - name: Upload build files
        uses: actions/upload-artifact@master
        with:
          name: Openwrt build files
          path: ./tree.txt
      
      - name: Upload artifact firmware ext4
        uses: actions/upload-artifact@master
        with:
          name: OpenWrt firmware - ext4 image
          path: ./bin/targets/x86/64/openwrt-x86-64-combined-ext4.img.gz

      - name: Upload artifact firmware squashfs
        uses: actions/upload-artifact@master
        with:
          name: OpenWrt firmware - squashfs image
          path: ./bin/targets/x86/64/openwrt-x86-64-combined-squashfs.img.gz

      - name: Upload artifact firmware vmdk-ext4
        uses: actions/upload-artifact@master
        with:
          name: OpenWrt firmware - vmdk-ext4
          path: ./bin/targets/x86/64/openwrt-x86-64-combined-ext4.vmdk
        
      - name: Upload artifact firmware vmdk-squashfs
        uses: actions/upload-artifact@master
        with:
          name: OpenWrt firmware - vmdk-squashfs
          path: ./bin/targets/x86/64/openwrt-x86-64-combined-squashfs.vmdk
